apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- manifests/deployment.yaml
- manifests/service.yaml
images:
- name: PROJECT/IMAGE
  newName: cxu354/dwk1
  newTag: b967ffd07a1e376911a156cb17e4ace070cb56d5
