name: Build and publish application

on:
  push:

jobs:
  build-publish:
    name: Build, Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and publish backend
        run: |-
          docker build --tag "cxu354/dwk1:$GITHUB_SHA" .
          docker push "cxu354/dwk1:$GITHUB_SHA"

      - name: Set up Kustomize
        uses: imranismail/setup-kustomize@v2

      - name: Use right image
        run: kustomize edit set image PROJECT/IMAGE=cxu354/dwk1:$GITHUB_SHA

      - name: commit kustomization.yaml to Github
        uses: EndBug/add-and-commit@v9
        with:
          add: "kustomization.yaml"
          message: "Update image to $GITHUB_SHA"
